H1 {
	color: #E8CE30;

	font-size: 60px;
	/*padding: 60px 0;*/
	margin: 0;

}

#q4{
  position: relative;
	left: 150px;
}

#topText {
  z-index: 100;
  position: absolute;
  color: #E8CE30;
  font-size: 55px;
  left: 350px;
  top: 215px;
}
p {
  font-size: 100px;
}
body {
  background-color: black;
}
.seeIt {
	position:absolute;
	top: 650px;
	left: 500px;
	color: white;
	font-size: 30px
}
.seeItTitle {
	position:absolute;
	top: 600px;
	left: 500px;
	color: white;
	font-size: 30px
}
#marquee {
  display: block;
  margin: auto;
}
